* {
    margin: 0;
    padding: 0;
}
body {
    width: 1024px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration:none;
}
/* BARRA SUPERIOR */
section#barra-superior {
    background-color: black;
    height: 20px;
    color: #f2f2f2;
    font-size: 13px;
    padding:4px 52px 4px 90px; 

}
section#menu-regional {
    float: right;
} 
header select {
    background-color: black;
    color: #f2f2f2;
    border-style: none;
    font-size: 13px;

}
/* FIN BARRA SUPERIOR*/
nav {
    background-color: #F0A83E;
    height: 62px;
    color: #f2f2f2;
}
/* BARRA DE NAVEGACIÓN */
nav img {
    margin: 19px 0 20px 40px; 
}
nav a {
    color: #f2f2f2;
    margin: 0px 36px 0px 1px;
}
nav i {
    padding-right: 3px;
    color: #fffffff;
}
div#menu-principal{
    float: right;
    margin: 20px 40px 23px 40px;
}
/* FIN BARRA DE NAVEGACIÓN */
/* BANNER PUBLICITARIO */
section#banner{
    position: absolute;
    background-image: url(/img/bowl-and-pet-daities-on-green-background\ 1.png);
    height: 409px;
    width: 1024px;
}
section#banner article{
    float: right;
    margin: 156px 12px 0 0;
}
section#banner h2{
    display: block;
    background-color: #ffffff;
    width: 355px;
    height: 34px;
    border-radius: 5px;
    padding: 10px;
    font-size: 30px;
    line-height: 35px;
    font-weight: 400;
    text-align: center;
}
section#banner h3{
    padding: 10px 0 10px 0;
    font-size: 16px;
    line-height: 18.75px;
    font-weight: 400;
    text-align: center;
}
.boton{
    color: #ffffff;
    background-color: #F0A83E;
    width: 141px;
    height: 34px;
    padding-top: 15px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 18.75px;
    font-weight: 400;
    text-align: center;
}
.boton#boton-banner{
    margin: auto;
}
/* FIN BANNER PUBLICITARIO */
