* {
    margin: 0;
    padding: 0;
}
body {
    width: 1024px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
/* BARRA SUPERIOR */
section#barra-superior {
    background-color: black;
    height: 20px;
    color: #f2f2f2;
    font-size: 13px;
    padding:4px 52px 4px 90px; 

}
section#menu-regional {
    float: right;
} 
header select {
    background-color: black;
    color: #f2f2f2;
    border-style: none;
    font-size: 13px;

}
/* FIN BARRA SUPERIOR*/
nav {
    background-color: #F0A83E;
    height: 62px;
    color: #f2f2f2;
}
/* BARRA DE NAVEGACIÓN */
nav img {
    margin: 19px 0 20px 40px; 
}
nav a {
    text-decoration:none;
    color: #f2f2f2;
    margin: 0px 36px 0px 1px;
}
nav i {
    padding-right: 3px;
    color: #fffffff;
}
div#menu-principal{
    float: right;
    margin: 20px 40px 23px 40px;
}